.todos {
    .todo {
        &-list {
            font-size: 16px;
            padding: 0;
            margin-bottom: 2em;
            text-align: left;
        }

        &-item {
            display: flex;
            padding-top: 5px;
            padding-bottom: 5px;
            align-items: center;
            position: relative;

            svg {
                width: 1.5em;
                height: 1.5em;
            }

            button {
                display: flex;
                border: none;
                background: none;
                outline: none;
                padding: 4px;
            }
            
            .fa-check-square {
                display: none;
            }
            .fa-square {
                display: block;
            }

        }

        &-edit {
            position: absolute;
            width: 100%;
            font-size: 16px;
            box-sizing: border-box;
            padding: 5px;
            line-height: 1.2;
            display: none;
        }
        
        &-title {
            margin-right: auto;
            padding-right: 10px;
        }

        &-completed {
            .todo-title {
                text-decoration: line-through;
            }

            .fa-check-square {
                display: block;
            }
            .fa-square {
                display: none;
            }
        }

        &-edited {
            .todo-edit {
                display: block;
            }

            button {
                visibility: hidden;
            }
        }
    }

    .todo-toglle-all {
        display: none;
        color: grey;

        &.active {
            display: block;
        }

        &.checked {
            color: black;
        }
    }

    .filter {
        padding: 10px 0;

        button {
            border: 1px solid lightgray;
            background-color: #fff;
            padding: 3px 5px;
            margin: 0 2px;
            border-radius: 3px;

            &.active {
                border-color: black;
            }
        }
    }

    .clear-completed {
        button {
            border: 1px solid lightgray;
            background-color: #fff;
            padding: 3px 5px;
            margin: 0 2px;
            border-radius: 3px;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}